// ************************************
// Variables
// ************************************

// ------------------------------------
// Colours
// ------------------------------------

// pink
$joy949_pink       : #d72c90; // Extracted from logo
$joy949_pink-light : #f5b1db;

// blue
$joy949_blue       : #0f63ae; // Extracted from logo.

// green
$joy949_green      : #57a957;

// shades
$joy949_black      : #000;
$joy949_white      : #fff;
$joy949_offwhite   : #f1f1f1;

// greys
$joy949_grey3      : #333;
$joy949_grey7      : #777;
$joy949_greya      : #aaa;


// ------------------------------------
// Spacing
// ------------------------------------

$joy949_defaultMarginBottom     : 0.625rem;
$joy949_defaultMarginLeft       : 2rem;