// ************************************
// Variables
// ************************************

// ------------------------------------
// Colours
// ------------------------------------

// pink
$joy949_pink       : #d5007f;
$joy949_pink-light : #f5b1db;

// blue
$joy949_blue       : #154fa0;

// green
$joy949_green      : #57a957;

// shades
$joy949_black      : #000;
$joy949_white      : #fff;
$joy949_offwhite   : #f1f1f1;

// greys
$joy949_grey3      : #333;
$joy949_grey7      : #777;
$joy949_greya      : #aaa;
