<p>
	<input type="submit" class="Btn button" value="input[submit]" />
	<input type="reset" class="Btn button" value="input[reset]" />
	<button class="Btn button">button</button>
	<a href="#" class="Btn button">a.button</a>
</p>