<p>
	<input type="submit" {{# Btn.disabled }}disabled{{/ Btn.disabled }} class="Btn Btn-Block" value="input[submit]" />
</p>
<p>
	<input type="reset" {{# Btn.disabled }}disabled{{/ Btn.disabled }} class="Btn Btn-Block" value="input[reset]" />
</p>
<p>
	<button class="Btn Btn-Block" {{# Btn.disabled }}disabled{{/ Btn.disabled }}>button</button>
</p>
<p>
	<a href="#" class="Btn Btn-Block" {{# Btn.disabled }}disabled{{/ Btn.disabled }}>a.button</a>
</p>
