<p>
	<input type="submit" {{# Btn.disabled }}disabled{{/ Btn.disabled }} class="Btn Btn-Alt" value="input[submit]" />
	<input type="reset" {{# Btn.disabled }}disabled{{/ Btn.disabled }} class="Btn Btn-Alt" value="input[reset]" />
	<button class="Btn Btn-Alt" {{# Btn.disabled }}disabled{{/ Btn.disabled }}>button</button>
	<a href="#" class="Btn Btn-Alt" {{# Btn.disabled }}disabled{{/ Btn.disabled }}>a.button</a>
</p>
