<p>
	<button class="Btn button" {{# Btn.disabled }}disabled{{/ Btn.disabled }}><svg class="Icon Icon-Envelope"><use xlink:href="../../assets/images/Icon/symbol-defs.svg#Icon-Envelope"></use></svg> button</button>
	<a href="#" class="Btn button" {{# Btn.disabled }}disabled{{/ Btn.disabled }}><svg class="Icon Icon-LinkedIn"><use xlink:href="../../assets/images/Icon/symbol-defs.svg#Icon-LinkedIn"></use></svg> a.button</a>
</p>
