<!DOCTYPE html>
<html class="{{ htmlClass }} no-js">
	<head>
		<title>{{ title }}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" />

		<!--[if (lte IE 8)&!(IEMobile) ]>
			<link rel="stylesheet" href="../../assets/css/style.lte8.css?{{ cacheBuster }}" media="all" />
		<![endif]-->
		<!--[if (gt IE 8)|(IEMobile)]><!-->
			<link rel="stylesheet" href="../../assets/css/style.css?{{ cacheBuster }}" media="all" />
		<!--<![endif]-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic%7COswald:400,700&subset=latin,latin" media="all" />
		<link rel="stylesheet" href="../../assets/css/patternlab.css?{{ cacheBuster }}" media="all" />

		<!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
		{% pattern-lab-head %}
		<!-- End Pattern Lab -->


		{{# runJs }}{{! runJs == true (so all is good) }}

		<!-- for site -->
		<script>
		JOY949_config = {
			"siteHome"   : "../../",
			"assetsPath" : "../../assets"
		};
		</script>
		<script src="../../assets/js/head-inline.js"></script>
		<script>
		JOY949.loadJS( JOY949.config.assetsPath + '/js/functions.js?{{ cacheBuster }}' );
		</script>

		<!-- for styleguide only -->
		<script id="joy949pl">

		window.JOY949PL = window.JOY949PL || {};
		JOY949PL.config = {
			runJS : true
		};
		JOY949PL.debug = true;

		</script>
		{{/ runJs }}

		{{^ runJs }}{{! runJs == false (so emulating no-js mode) }}
		<!-- for styleguide only -->
		<script>

		window.JOY949PL = window.JOY949PL || {};
		JOY949PL.config = {
			runJS : false
		};

		</script>
		{{/ runJs }}

	</head>
	<body class="{{ bodyClass }}">
