
	<!--DO NOT REMOVE-->
	{% pattern-lab-foot %}
	
	{{# runJs }}{{! runJs == true (so all is good) }}
	<script src="../../assets/js/functions.js?{{ cacheBuster }}" async></script>
	{{/ runJs }}
	<script src="../../assets/js/styleguide.js?{{ cacheBuster }}" async></script>

	</body>
</html>