
	<!--DO NOT REMOVE-->
	{% pattern-lab-foot %}
	
	{{# runJs }}{{! runJs == true (so all is good) }}
		<!-- load any additional scripts here -->
	{{/ runJs }}
	<script src="../../assets/js/patternlab.js?{{ cacheBuster }}" async></script>

	</body>
</html>