<time datetime="{{ year.long }}-{{ month.digit }}-{{ day.long }}T{{ hour.military }}:{{ minute.long }}+11:00"
	class="entry-date dt-published published dt-updated updated">{{ month.long }} {{ day.short }}, {{ year.long }}</time>
