// ************************************
// Entry Meta
// ************************************

// Can be displayed above or below the post-body, or even split accross both.

$joy949-EntryMeta_Color: $joy949_grey7;

.EntryMeta {
	color: $joy949-EntryMeta_Color;
	font-size: 0.875rem;
}
