<ul class="u-List-Inline">
	<li><svg class="Icon Icon-Angle-Down"><use xlink:href="../../assets/images/Icon/symbol-defs.svg#Icon-Angle-Down"></use></svg></li>
	<li><svg class="Icon Icon-Check"><use xlink:href="../../assets/images/Icon/symbol-defs.svg#Icon-Check"></use></svg> Pens</li>
	<li><svg class="Icon Icon-Envelope"><use xlink:href="../../assets/images/Icon/symbol-defs.svg#Icon-Envelope"></use></svg></li>
	<li><svg class="Icon Icon-Facebook"><use xlink:href="../../assets/images/Icon/symbol-defs.svg#Icon-Facebook"></use></svg></li>
	<li><svg class="Icon Icon-Feed"><use xlink:href="../../assets/images/Icon/symbol-defs.svg#Icon-Feed"></use></svg></li>
	<li><svg class="Icon Icon-GooglePlus"><use xlink:href="../../assets/images/Icon/symbol-defs.svg#Icon-GooglePlus"></use></svg></li>
	<li><svg class="Icon Icon-Home"><use xlink:href="../../assets/images/Icon/symbol-defs.svg#Icon-Home"></use></svg></li>
	<li><svg class="Icon Icon-Instagram"><use xlink:href="../../assets/images/Icon/symbol-defs.svg#Icon-Instagram"></use></svg></li>
	<li><svg class="Icon Icon-LinkedIn"><use xlink:href="../../assets/images/Icon/symbol-defs.svg#Icon-LinkedIn"></use></svg></li>
	<li><svg class="Icon Icon-Pinterest"><use xlink:href="../../assets/images/Icon/symbol-defs.svg#Icon-Pinterest"></use></svg></li>
	<li><svg class="Icon Icon-Pocket"><use xlink:href="../../assets/images/Icon/symbol-defs.svg#Icon-Pocket"></use></svg></li>
	<li><svg class="Icon Icon-Print"><use xlink:href="../../assets/images/Icon/symbol-defs.svg#Icon-Print"></use></svg></li>
	<li><svg class="Icon Icon-Reddit"><use xlink:href="../../assets/images/Icon/symbol-defs.svg#Icon-Reddit"></use></svg></li>
	<li><svg class="Icon Icon-Share"><use xlink:href="../../assets/images/Icon/symbol-defs.svg#Icon-Share"></use></svg></li>
	<li><svg class="Icon Icon-Shareable"><use xlink:href="../../assets/images/Icon/symbol-defs.svg#Icon-Shareable"></use></svg></li>
	<li><svg class="Icon Icon-StumbleUpon"><use xlink:href="../../assets/images/Icon/symbol-defs.svg#Icon-StumbleUpon"></use></svg></li>
	<li><svg class="Icon Icon-Tumblr"><use xlink:href="../../assets/images/Icon/symbol-defs.svg#Icon-Tumblr"></use></svg></li>
	<li><svg class="Icon Icon-Twitter"><use xlink:href="../../assets/images/Icon/symbol-defs.svg#Icon-Twitter"></use></svg></li>
	<li><svg class="Icon Icon-Vimeo"><use xlink:href="../../assets/images/Icon/symbol-defs.svg#Icon-Vimeo"></use></svg></li>
	<li><svg class="Icon Icon-WordPress"><use xlink:href="../../assets/images/Icon/symbol-defs.svg#Icon-WordPress"></use></svg></li>
	<li><svg class="Icon Icon-Youtube"><use xlink:href="../../assets/images/Icon/symbol-defs.svg#Icon-Youtube"></use></svg></li>
</ul>
