<img src="../../assets/images/Favicons/favicon-16x16.png" width="16" height="16" alt="Favicon 16x16" />
<img src="../../assets/images/Favicons/favicon-32x32.png" width="32" height="32" alt="Favicon 32x32">
<img src="../../assets/images/Favicons/apple-touch-icon-60x60.png" width="60" height="60" alt="Apple Touch Icon 60x60">
<img src="../../assets/images/Favicons/apple-touch-icon-120x120.png" width="120" height="120" alt="Apple Touch Icon 120x120">
<img src="../../assets/images/Favicons/apple-touch-icon-180x180.png" width="180" height="180" alt="Apple Touch Icon 180x180">
