<!-- IFRAME to trigger all the responsive issues that will occur on the site -->
<iframe src="../../assets/static/ad-units/300x250.html"
	width="300" height="250" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" ></iframe>
