<ul class="sg-colors">
	<li>
		<span class="sg-swatch sg-swatch--pink"></span>
		<span class="sg-label"></span>
	</li>
	<li>
		<span class="sg-swatch sg-swatch--pink-light"></span>
		<span class="sg-label"></span>
	</li>
	<li>
		<span class="sg-swatch sg-swatch--blue"></span>
		<span class="sg-label"></span>
	</li>
	<li>
		<span class="sg-swatch sg-swatch--green"></span>
		<span class="sg-label"></span>
	</li>
	<li>
		<span class="sg-swatch sg-swatch--black"></span>
		<span class="sg-label"></span>
	</li>
	<li>
		<span class="sg-swatch sg-swatch--white"></span>
		<span class="sg-label"></span>
	</li>
	<li>
		<span class="sg-swatch sg-swatch--off-white"></span>
		<span class="sg-label"></span>
	</li>
	<li>
		<span class="sg-swatch sg-swatch--grey3"></span>
		<span class="sg-label"></span>
	</li>
	<li>
		<span class="sg-swatch sg-swatch--grey7"></span>
		<span class="sg-label"></span>
	</li>
	<li>
		<span class="sg-swatch sg-swatch--greya"></span>
		<span class="sg-label"></span>
	</li>
</ul>