<p class="u-Font-Primary">Primary font: <span class="sg-js-font">"Open Sans", sans-serif;</span></p>
<p class="u-Font-Primary"><em>Primary font italic: <span class="sg-js-font">"Open Sans", sans-serif;</span></em></p>
<p class="u-Font-Primary"><strong>Primary font bold: <span class="sg-js-font">"Open Sans", sans-serif;</span></strong></p>
<p class="u-Font-Secondary">Secondary font: <span class="sg-js-font">"Oswald", sans-serif;</span></p>
<p class="u-Font-Secondary"><em>Secondary font italic: <span class="sg-js-font">"Oswald", sans-serif;</span></em></p>
<p class="u-Font-Secondary"><strong>Secondary font bold: <span class="sg-js-font">"Oswald", sans-serif;</span></strong></p>